In [14]:
import pandas as pd

In [15]:
movies=pd.read_csv('Dataset/TMDB-movies.csv')

In [16]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [17]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [18]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [19]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

# ***Content based Feature Selection Part***

In [9]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [20]:
movies['tags'] = movies['overview']+movies['genre']

In [22]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,tags
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,In the continuing saga of the Corleone crime f...

In [23]:
movie_data  = movies.drop(columns=['overview', 'genre'])

In [24]:
movie_data.head()

,id,title,original_language,popularity,release_date,vote_average,vote_count,tags
0,278,The Shawshank Redemption,en,94.075,1994-09-23,8.7,21862,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,hi,25.408,1995-10-19,8.7,3731,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,en,90.585,1972-03-14,8.7,16280,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,en,44.761,1993-12-15,8.6,12959,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,en,57.749,1974-12-20,8.6,9811,In the continuing saga of the Corleone crime f...

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [28]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [29]:
vector=cv.fit_transform(movie_data['tags'].values.astype('U')).toarray()

In [30]:
vector.shape

(10000, 10000)

In [40]:
content_similarity=cosine_similarity(vector)

In [41]:
content_similarity

array([[1.        , 0.05634362, 0.12888482, ..., 0.07559289, 0.11065667,
        0.06388766],
       [0.05634362, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12888482, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.08645856],
       ...,
       [0.07559289, 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.02817181],
       [0.11065667, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.0412393 ],
       [0.06388766, 0.        , 0.08645856, ..., 0.02817181, 0.0412393 ,
        1.        ]])

The number of votes (vote_count) plays a significant role in weighing the credibility and reliability of the average vote (vote_average). Movies with a high average rating but a low number of votes might not be as trustworthy as movies with a slightly lower average rating but a significantly higher number of votes. This concept is similar to weighted rating systems used by many movie databases, like IMDb's Top Rated Movies list, which accounts for both the average rating and the number of votes a movie has received.

To incorporate this into your recommendation system effectively, you can calculate a weighted score for each movie that considers both the vote_average and the vote_count. One common formula for such a weighted score is the IMDb weighted rating formula, which is given b

# Weighted Rating Formula

The weighted rating for each movie is calculated using the formula:

$$
\text{Weighted Rating} = \left(\frac{v}{v+m} \cdot R\right) + \left(\frac{m}{v+m} \cdot C\right)
$$

where:

- $v$ is the number of votes for the movie (`vote_count`),
- $m$ is the minimum votes required to be listed in the chart,
- $R$ is the average rating of the movie (`vote_average`), and
- $C$ is the mean vote across the whole report.

This formula helps in balancing the average rating of a movie with the number of votes it has received. It ensures that a movie with a high average rating but a relatively low number of votes does not automatically rank higher than a movie with a slightly lower average rating but a significantly higher number of votes. This approach helps to bring more credible and robust recommendations to the forefront.
 the average of vote_average across all movies.

In [36]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
movie_data[['popularity', 'vote_average', 'vote_count']] = scaler.fit_transform(movie_data[['popularity', 'vote_average', 'vote_count']])

In [37]:
# Calculate mean vote across all movies (C) and the minimum number of votes required (m)
C = movie_data['vote_average'].mean()
m = movie_data['vote_count'].quantile(0.50)

# Compute the IMDb weighted rating for each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v / (v + m) * R) + (m / (m + v) * C)

In [42]:
movie_data['weighted_score'] = movie_data.apply(weighted_rating, axis=1)
movie_data['weighted_score'] = scaler.fit_transform(movie_data[['weighted_score']])

In [43]:
movie_data.head()

,id,title,original_language,popularity,release_date,vote_average,vote_count,tags,weighted_score
0,278,The Shawshank Redemption,en,0.280516,1994-09-23,2.713220,7.671238,Framed in the 1940s for the double murder of h...,0.032763
1,19404,Dilwale Dulhania Le Jayenge,hi,-0.043885,1995-10-19,2.713220,0.824606,"Raj is a rich, carefree, happy-go-lucky second...",0.048392
2,238,The Godfather,en,0.264028,1972-03-14,2.713220,5.563362,"Spanning the years 1945 to 1955, a chronicle o...",0.033189
3,424,Schindler's List,en,0.047544,1993-12-15,2.582704,4.309285,The true story of how businessman Oskar Schind...,0.032549
4,240,The Godfather: Part II,en,0.108902,1974-12-20,2.582704,3.120537,In the continuing saga of the Corleone crime f...,0.033349

In [56]:
import numpy as np
weights_collaborative = np.array([0.6, 0.2, 0.2])

In [57]:
additional_scores_normalized = movie_data[['popularity', 'vote_count', 'weighted_score']].values
collaborative_similarity = np.dot(additional_scores_normalized, weights_collaborative.T)

In [58]:
# Normalize collaborative similarity to be on a similar scale as content similarity
collaborative_similarity_normalized = (collaborative_similarity - np.min(collaborative_similarity)) / (np.max(collaborative_similarity) - np.min(collaborative_similarity))

In [60]:
movie_index = 0  # Example index for "Movie1"
content_similarity_example = content_similarity[movie_index]

# Normalize content similarity
content_similarity_normalized = (content_similarity_example - np.min(content_similarity_example)) / (np.max(content_similarity_example) - np.min(content_similarity_example))

In [70]:
weight_content = 1
weight_collaborative = 0

In [74]:
hybrid_similarity = (weight_content * content_similarity) + (weight_collaborative * collaborative_similarity_normalized)

In [75]:
hybrid_similarity

array([[8.98451588, 0.50622012, 1.15796767, ..., 0.67916556, 0.99419658,
        0.57399966],
       [0.10305883, 1.8291128 , 0.13946854, ..., 0.        , 0.06652419,
        0.        ],
       [0.8842244 , 0.52311421, 6.86057855, ..., 0.15596252, 0.45661152,
        0.59315576],
       ...,
       [0.03499317, 0.        , 0.01052354, ..., 0.46291609, 0.01505866,
        0.01304118],
       [0.0638424 , 0.02098315, 0.03839881, ..., 0.0187679 , 0.57694128,
        0.02379266],
       [0.02630993, 0.        , 0.03560499, ..., 0.01160159, 0.01698299,
        0.41181561]])

In [77]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[1:6]:  # Starting from 1 to skip the target movie if it's included
    print(movie_data.iloc[i[0]].title)

The Godfather: Part II
Blood Ties
Joker
Bomb City
Gotti

In [81]:
def recommend(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(hybrid_similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[1:6]:
        print(movie_data.iloc[i[0]].title)

In [82]:
import pickle

In [83]:
pickle.dump(movie_data, open('movies_list.pkl', 'wb'))

In [84]:
pickle.dump(hybrid_similarity, open('similarity.pkl', 'wb'))